---
import "../styles/global.css";
import "../styles/index.css";
import Modal from '../components/Modal.astro';
import { certifications } from "../data/certifications.js";
import { projects } from "../data/projects.js";
---

<layout>
	<header>
		<nav class="navbar">
			<div class="logo">
				<span>&lt;/&gt;</span> Montbup Developer
			</div>
			<button class="hamburger-menu" aria-label="Toggle navigation">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</button>
			<ul class="nav-links">
				<li><a href="#about">About Me</a></li>
				<li><a href="#certifications">Certifications</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>	

	<main>
		<section id="about" class="about-me">
			<div class="about-content">
				<div class="about-text">
					<div class="decorative-line"></div>
					<h1>Nice to meet you, I'm Delfina Montserrat Buenrostro Puerta</h1>
					<h4>
						I am a Full-Stack Developer passionate about building functional and meaningful 
						digital solutions. With expertise in both frontend and backend development, 
						as well as data analysis, I strive to create impactful and user-friendly experiences. 
						My passion lies in continuous learning and solving complex challenges that enhance my skills.
					</h4>
				</div>
				<div class="about-image">
					<img src="/images/delfina-profile_2.svg" alt="Delfina Montserrat" />
				</div>
			</div>
		</section>
		
		<section id="skills">
			<h2 class="section-title skills-title">My Skills</h2>
			<h4>These tools and technologies are the foundation of my ability to build, innovate, and bring ideas to reality</h4>
			<div class="skills-flex">
				<i class="fab fa-js skill-icon" aria-label="JavaScript"></i>
				<i class="fab fa-html5 skill-icon" aria-label="HTML5"></i>
				<i class="fab fa-css3-alt skill-icon" aria-label="CSS3"></i>
				<i class="fab fa-node skill-icon" aria-label="Node.js"></i>
				<i class="fab fa-python skill-icon" aria-label="Python"></i>
				<i class="fab fa-git-alt skill-icon" aria-label="Git"></i>
				<i class="fab fa-java skill-icon" aria-label="Java"></i>
				<i class="fab fa-angular skill-icon" aria-label="Angular"></i>
				<i class="fab fa-docker skill-icon" aria-label="Docker"></i>
				<i class="fab fa-bootstrap skill-icon" aria-label="Bootstrap"></i>
			</div>
		</section>

		<section id="projects">
			<h2 class="section-title projects-title">My Projects</h2>
			<h4>Some things I've built so far:</h4>
			<div class="projects-list">
				{projects.map(project => (
					<div class="project-card">
						<div class="project-details">
							<h3>{project.title}</h3>
							<p class="project-role">{project.role}</p>
							<p class="project-dates">{project.dates}</p>
							<p class="project-description">{project.description}</p>
						</div>
				  	</div>
				))}
			</div>
		</section>

		<section id="certifications">
			<h2 class="section-title certifications-title">Certifications</h2>
			<h4>
				Throughout my career, I have acquired skills and certifications in various areas, 
				including web development, data analysis, productivity tools, and more. 
				My focus is on leveraging technology and creativity to drive impactful results.
			</h4>
			<div class="certifications-flex">
				{certifications.map((certification) => (
					<div class="certification-item" data-certification-id={certification.id}>
						<div class="certification-description">{certification.description}</div>
						<Modal id={`modal-cert-${certification.id}`} open={certification.title}>
							<img
							slot="main"
							src={certification.image}
							alt={certification.title}
							/>
						</Modal>
					</div>
				))}
			</div>
			<script>
				const buttons = document.querySelectorAll('.certification-button');
		
				buttons.forEach((button) => {
					button.addEventListener('click', (event) => {
						const target = event.target as HTMLButtonElement;
						const certificationId = target.getAttribute('data-certification-id');
		
						if (certificationId) {
							console.log(`Certification ID: ${certificationId}`);
						} else {
							console.error('Certification ID not found');
						}
					});
				});
			</script>
		</section>

		<section id="contact">
			<h2>Contact Me</h2>
			<p>Feel free to reach out via email or follow me on my social channels:</p>
			<ul class="social-links">
				<li><a href="mailto:montspuerta@gmail.com">Email</a></li>
				<li><a href="https://github.com/montbup">GitHub</a></li>
			</ul>
		</section>
		
		<footer>
			<p>&copy; 2024 Montbup. All rights reserved.</p>
		</footer>
	</main>
</layout>
  
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const hamburger = document.querySelector(".hamburger-menu");
		const navLinks = document.querySelector(".nav-links");

		hamburger.addEventListener("click", () => {
			navLinks.classList.toggle("active");
		});
	});
</script>


<style>	
	.certification-item {
		position: relative;
		text-align: center;
  	}
	.certification-item button:hover {
	  	background-color: var(--color-secondary);
	}

	.certification-description {
		position: absolute;
		top: 90%; 
		left: 50%;
		transform: translateX(-50%);
		width: 200px; 
		padding: 0.5rem;
		background-color: var(--color-light);
		color: white;
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		z-index: 10; 
	}

	.certification-item:hover .certification-description {
		opacity: 1;
		visibility: visible;
	}
</style>